@charset "utf-8";
@import url("fonts.css");


/* CSS Document */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
	 position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family:regular;
}
table th{
	font-weight:normal;

}

/*HEADER*/
header{
	width: 100%;
	height: auto;

	background:#2F4FFE;
}

.navigation{
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	width: 960px;
	padding: 0;
}
.navi_left{
	padding:0;
	flex: 0 1 70%;
	margin: 0;
box-sizing:border-box;
	order: 1;
}



.navi_right{
	box-sizing:border-box;
	order: 2;
	flex: 1;
	text-align:right;
}

.navi li{
	display:inline-block;
}

.navi li a{
	display:inline-block;
	width: 120px;
	height: auto;
	padding:10px 0;
	box-sizing:border-box;
	text-align:center;
		transition: background-color 0.3s ease-in-out;
}
.navi li a:hover{
	background: #2878FF;
}
.active{
	background: #00B0FF;
}
/*End of Header*/




/*END OF HEADER*/

ul,li{
	text-decoration:none;
	list-style:none;
	padding: 0px;
	margin:0px;
}


/*Font Styles*/
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
	font-weight:normal;
}

ar{
	font-family:follow;
	color:#B0BEC5;
	font-size: 20px;
}
h1{/* Special Font for Display 1*/
	font-size: 35px;
	font-family:light;
	color: #2f4ffe; /*Blue*/
}
.title_blue{

	font-family:medium;
	color: #2f4ffe;
}
h2{ /* Special Font for Display 1*/
	font-size: 24px;
	color: #2f4ffe; /*Blue*/
	font-family:regular;
}
h3{
	font-size: 20px;
	font-family:regular;
	color: #2f4ffe; /*Blue*/

}

p{
	font-size: 16px;
	font-family:light;
	color: #78909c; /*BlueGrey*/
}

h6{
	font-size: 16px;
	font-family:medium;
	color: white;
}
h4{
	font-size: 14px;
	font-family:light;
	color: #78909C;

}




.sectionLabel{
	display: block;
	font-family: regular;
	color:#78909C;
	font-size: 16px;
	padding: 5px 0;
	border-right: 0;
	border-left: 0;
	width: 100%;
}

/*Font Styles*/

/* DATA TABLE */


.dataTable{
	width: 100%;
}
.dataTable th{
	padding: 10px 5px;
	background: #B0BEC5;/*Dark Blue*/
	font-size: 14px;
	font-family:regular;
	color: white;
	font-weight:normal;
	width: auto;
	text-align:center;
}

.dataTable tr:nth-child(odd) {
	background: #f7f9f8;
}

.dataTable tr:nth-child(even) {
	background: #ffffff;
}

.dataTable td{
	font-size: 14px;
	font-family:regular;
	color: #546e7a;
	border: 0.08em solid #eceff1;
	border-right:0;
	border-top: 0;
	text-align:center;
	padding: 0 5px ;
}

container{


	display:block;
	width: 100%;
    overflow: scroll;
	display:block;
}

/* END OF DATA TABLE */



/* BUTTONS */




a{
	box-sizing:border-box;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}
.manageButton{
	background: #00c853;
	color: white;
}
.editButton{
	background: #ffb64c;
	color: white;
}
.create{
	background: #2F4FFE;
	padding: 3px;
	color: white;
	width: 100%;
}

.cancel{
	background: #CED7DB;
	padding: 5px;
	color: white;
	box-sizing: border-box;
}

.manageButton, .dataTable .cancel,.editButton{
	display:inline-block;
	box-sizing:border-box;
	padding: 5px;
	border-radius: 3px;
	margin:  5px;
	font-size: 14px;
	font-family: regular;
	color: white;
}

[type="reset"], [type="submit"]{
	cursor:pointer;
	width: 100%;
	outline: none;
	border: none;
	font-family: regular;
	padding: 5px 5px;
	font-size: 16px;
	box-sizing: border-box;
	transition: background-color 0.3s ease-in-out;
}

.go{
	cursor:pointer;
	width:40px;
	height: 30px;
	border-radius: 3px;
	outline: none;
	border: none;
	font-family: regular;
	padding: 5px;
	font-size: 14px;
	background: #2F4FFE;
	box-sizing: border-box;
	transition: background-color 0.3s ease-in-out;
	color: white;

}
.cancel:hover{
	background: #B0BEC5;
}
.create:hover{
	background: #2878FF;
}
.go:hover{
	background: #2878FF;
}

.manageButton:hover{
	background: #00E575;
}
.editButton:hover{
	background: #ffcb7f;
}



/* END OF BUTTONS */
/*LAYOUT*/

.wrapper{
	height: auto;
	margin:30px auto;
	display: flex;
	flex-flow: row wrap;
	width: 960px;
	padding: 0;
}

.card_left{
	box-sizing:border-box;
	margin: 5px;
}

.card_right{
	box-sizing:border-box;
	padding: 10px;
	margin: 5px;

}

.card_top{
	box-sizing: border-box;
	margin: 5px;
}
.card_bottom{
	margin: 5px;
	box-sizing: border-box;
	padding: 10px;
border: solid thin #ced7db;
}


.inner_wrap{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}





/*END OF LAYOUT*/





/*HEADER*/

/*DATE*/

.forms, [type="date"],select, textarea{
	box-sizing: border-box;
	padding: 5px;
	border: solid thin #90a4ae;
	border-radius: 3px;
	width: 100%;
	font-size: 16px;
	color:#536d79;
	font-family: regular;
	resize:none;

}

[type="date"]{
	  background:#fff  url(../_assets/calendar.png)  97% 50% no-repeat ;
	background-size: 20px 20px;
	cursor:pointer;
}

.filter_date{
	width: 150px;
	box-sizing:border-box;
	padding: 5px 5px;
	border-radius: 5px;
	font-family: light;
	outline: none;
	margin:0 10px ;
}


[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/*END OF DATE*/







/*END OF HEADER*/

/*Filter*/

.light-table-filter{
	box-sizing:border-box;
	font-size: 14px;
	font-family: light;
	height: auto;
	width: 200px;
	padding: 5px 10px;
	padding-left: 30px;
	background: url(../_assets/search.png);
	background-position:3% 45%;
	background-size:20px 20px;
	background-repeat:no-repeat;
	border-radius: 5px;
	color:#2F4FFE;
	border: solid thin #90a4ae;
}



/*End of FIlter*/


/*SPANS*/
.span_red{
	color: #F34235;
	font-family: medium;
}



.hr{
	height:10px;
	margin: 0px;
	visibility:hidden;
}
.dashed{
	height: 1px;
    border: 0;
    border-top: 1px dashed #B0BEC5;
    margin: 1em 0;
    padding: 0;
}


.hr_dashed{
	width: 100%;
	margin: 20px 0;
	border: dashed thin #90A4AE;
}

footer{
	position: absolute;
	bottom:0;
	margin-top: 20px;
	width: 100%;
	height: 60px;
	background: #00006f;
	clear: both;

}

.content{
	box-sizing:border-box;
	border: solid thin #CED7DB;
	padding: 10px;
	width: 100%;
}


/*DISPLAY INFO TABLE*/

.displayInfo{
	width: 100%;

}
.displayInfo th{
	text-align: left;
	font-family: light;
	font-size: 14px;
	padding-right: 10px;
	color: #78909C;
}
.displayInfo td{
	text-align: left;
	font-family: regular;
	font-size: 14px;
	padding-right: 10px;
	color: #536D79;
}

/*END OF DISPLAY TABLE*/

/*LIGHT TABLE*/

.light_table{
	width: 100%;

}
.light_table th{
	text-align: center;
	background:#EBEEF0;
	font-family: regular;
	color:	#90A4AE;
	padding: 3px;
	font-size: 14px;

}


.light_table td{
	text-align: center;
	font-family: light;
	color:	#536D79;
	padding: 3px;
	border: 0.08em solid #eceff1;
	border-right: 0;
	border-top: 0;
		font-size: 14px;

}


/*END OF LIGHT TABLE*/

.table_form{
	width: 100%;
}

.table_form th{
	font-weight:normal;
	text-align:left;
}
